<!doctype html>
<html><head><title>Business Profile</title><link rel="stylesheet" href="/public/css/styles.css"/></head>
<body><h2><%= business.name %></h2><p>License: <%= business.license_id %></p><p>Type: <%= business.type %></p><p>CEO: <%= business.ceo_name %></p><a href="/">Back to map</a></body></html>
